{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add New To-Do</h2>
      <form action="{{ url_for('newTodo') }}" method="post">
        <label for="{{ titleFieldName }}">Title:</label>
        <input type="text" id="{{ titleFieldName }}" name="{{ titleFieldName }}">
        <input type="submit" value="Add">
      </form>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for todo in todos %}
          <li>{{ todo.title }} - {{ todo.status }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
