{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add New To-Do</h2>
      <form action="{{ url_for('new_todo') }}" method="post">
        <label for="{{ title_field_name }}">Title:</label>
        <input type="text" id="{{ title_field_name }}" name="{{ title_field_name }}" required>
        <input type="submit" value="Add">
      </form>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <h3>Not Started</h3>
      <ul class="list-group mb-4">
        {% for todo in not_started_todos %}
          <li>
            {{ todo.name }}
              <a href="{{ url_for('start_todo', id=todo.id) }}">
                <button>Start</button>
              </a>
          </li>
        {% endfor %}
      </ul>
      <h3>Started</h3>
      <ul class="list-group mb-4">
        {% for todo in doing_todos %}
          <li>
            {{ todo.name }}
              <a href="{{ url_for('complete_todo', id=todo.id) }}">
                <button>Complete</button>
              </a>
          </li>
        {% endfor %}
      </ul>
      <h3>Done</h3>
      <ul class="list-group mb-4">
        {% for todo in done_todos %}
          <li>
            {{ todo.name }}
              <a href="{{ url_for('reset_todo', id=todo.id) }}">
                <button>Reset</button>
              </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
